<!-- views/auth.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Authentication</h1>

		<p>Login or Register with:</p>

		<a href="/signup" class="btn btn-warning"><span class="fa fa-user"></span> Sign Up</a>
                <a href="/login" class="btn btn-warning"><span class="glyphicon glyphicon-heart"></span> Sign In</a>		
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		<!-- ><a href="/auth/jawbone" class="btn btn-danger"><span class="glyphicon glyphicon-link"></span> Jawbone UP</a> -->
		

	</div>
	
	<hr>

	<p>Already signed in? Jump to your <a href="/profile">Connections</a></p>
	<p>Or contine to explore at <a href="/">home</a>.</p>

</div>
</body>
</html>
