<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>funmotivation.com</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="glyphicon glyphicon-globe"></span> 
		<% if (name > ' ') { %>					
			de <%= name %><br>
		<% } else { %>
			<% if (email > ' ') { %>
				de <%= email %><br>
			<% } else { %>
		                  de You<br>
		        <% }; %>
		 <% }; %>
		
		</h1>
		<a href="/dashboard" class="btn btn-default btn-sm">Dashboard</a>
		<a href="/scoreboard" class="btn btn-default btn-sm">Scoreboard</a>
		<a href="/profile" class="btn btn-default btn-sm">Connections</a>
		<a href="/auth" class="btn btn-default btn-sm">Authenticate</a>
	</div>
	
</div>
</body>
</html>
